.cache/*
.config/*
.gnupg/*
.kaggle/*
.local/*
.ssh/*
.vscode-server/*

input/*
results/*
.gitconfig
.cupy/*
.nv/*
result/*
.netrc
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*

*/wandb/*
.bash_history
*/catboost_info/*
.python_history
.ipython/*
.jupyter/*
.virtual_documents/*
notebooks/*
.viminfo
.keras/keras.json